<h4>Categoria</h4>
<hr>

<form [formGroup]="categoriaForm">

    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="email" class="form-control" id="nome" formControlName="nome">
    </div>
    <div class="mb-3">
        <label for="descricao" class="form-label">Descrição</label>
        <textarea class="form-control" id="descricao" rows="3" formControlName="descricao"></textarea>
    </div>

    <div style="text-align: end;">
        <button type="button" class="btn btn-primary mr-3" (click)="salvar()" [disabled]="categoriaForm.invalid">
          {{ isAlterando ? 'Atualizar' : 'Cadastrar'}}
        </button>
        <button type="button" class="btn btn-danger" (click)="resetForm()">
          {{ isAlterando ? 'Cancelar' : 'Limpar'}}
        </button>
    </div>

</form>

<hr>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Descrição</th>
        <th scope="col" class="text-center" width="100">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let categoria of categorias">
        <th scope="row">{{categoria.id_categorias}}</th>
        <td>{{categoria.nome}}</td>
        <td>{{categoria.descricao}}</td>
        <td class="text-center" width="100">
          <i class='bx bxs-pencil text-warning mr-3 add-cursor-pointer' (click)="preencherForm(categoria)"></i>
          <i class='bx bxs-trash text-danger add-cursor-pointer' (click)="excluir(categoria.id_categorias)"></i>
        </td>
      </tr>
    </tbody>
  </table>