<h4>Categoria</h4>
<hr>

<form [formGroup]="categoriaForm">

    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="email" class="form-control" id="nome" formControlName="nome">
    </div>
    <div class="mb-3">
        <label for="descricao" class="form-label">Descrição</label>
        <textarea class="form-control" id="descricao" rows="3" formControlName="descricao"></textarea>
    </div>

    <div style="text-align: end;">
        <button type="button" class="btn btn-primary mr-3" (click)="cadastrar()" [disabled]="categoriaForm.invalid">Cadastrar</button>
        <button type="button" class="btn btn-danger">Limpar</button>
    </div>

</form>

<hr>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let categoria of categorias">
        <th scope="row">{{categoria.id}}</th>
        <td>{{categoria.nome}}</td>
        <td>{{categoria.descricao}}</td>
      </tr>
    </tbody>
  </table>