<h4>Ajudas - Pendentes</h4>
<hr>

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Pesquisar por...">
    <i class="input-group-text bx bx-search"></i>
</div>

<div class="row mb-5">
    <div class="col-md-4" *ngFor="let item of ajudasPendentes">
      <div class="card">
        <div class="card-img">
          <img src="assets/images/sem-foto.png" alt="">
        </div>
        <div class="card-description">
          <div class="title">
              {{item.nome_categoria}}
              <small>
                ( <i class='bx bxs-phone'></i> {{item.telefone}})
              </small>
            </div>
          <div class="sub-title">{{item.nome_subcategoria}}</div>
          <span class="description">{{item.comentario}}</span>
          <span class="tag-date">01 Nov 2021</span>
        </div>
        <div class="btn-group-ajuda">
            <div class="btn-finalizar">
                <button class="btn btn-padrao" (click)="openModalClassificacao(template, item)">Finalizar</button>
            </div>
            <div class="btn-conversar">
                <button class="btn btn-padrao">Conversar</button>
            </div>
        </div>
      </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Classificação</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <input type="text" class="form-control" [formControl]="classificacaoForm" placeholder="Avalie de 1 a 5">
    </div>
    <div class="modal-footer">
        <button class="btn btn-padrao btn-success" (click)="finalizar()">Confirmar</button>
    </div>
  </ng-template>
<!-- 
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-img">
                <img src="assets/exemplos/carona.jpg" alt="">
            </div>
            <div class="card-description">
                <div class="title">Carona</div>
                <span class="description">Preciso de ajuda para me levar até o centro</span>
                <span class="tag-date">01 Nov 2021</span>
            </div>
            <div class="btn-group-ajuda">
                <div class="btn-finalizar">
                    <button class="btn btn-padrao">Finalizar</button>
                </div>
                <div class="btn-conversar">
                    <button class="btn btn-padrao">Conversar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-img">
                <img src="assets/exemplos/pedreiro.jpg" alt="">
            </div>
            <div class="card-description">
                <div class="title">Pedreiro</div>
                <span class="description">Algum pedreiro disponivel para construir um muro em casa</span>
                <span class="tag-date">20 Out 2021</span>
            </div>
            <div class="btn-group-ajuda">
                <div class="btn-finalizar">
                    <button class="btn btn-padrao">Finalizar</button>
                </div>
                <div class="btn-conversar">
                    <button class="btn btn-padrao">Conversar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-img">
                <img src="assets/exemplos/doacao.jpg" alt="">
            </div>
            <div class="card-description">
                <div class="title">Doação</div>
                <span class="description">Necessito de uma doação de roupa de frio</span>
                <span class="tag-date">15 Jul 2021</span>
            </div>
            <div class="btn-group-ajuda">
                <div class="btn-finalizar">
                    <button class="btn btn-padrao">Finalizar</button>
                </div>
                <div class="btn-conversar">
                    <button class="btn btn-padrao">Conversar</button>
                </div>
            </div>
        </div>
    </div>
</div> -->