<main>
    <section>
        <div class="container">
            <div class="wallet">
                <div class="wallet-note">
                    <i class='bx bx-wallet nav__icon"'></i><br>
                    <span>Minha Carteira</span>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="wrapper">
                            <div class="card text-center">
                                <div class="image"> <img src="assets/images/coin.png" width="300"> </div>
                                <div class="about-product text-center">
                                    <h3>Total de Pontos</h3>
                                    <h4>$250.<small>00</small></h4>
                                    <button class="btn btn-success buy-now">Ajude e ganhe Recompensas</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>