.wallet-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

/*========== CONTEUDO WALLET ==========*/
.wallet-note{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 3.5rem;
    width: 100%;
    background: -webkit-linear-gradient(left, #C0A3FF, #5454D4);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 5px;
 }       
 /* TOTAL DE PONTOS */ 
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }     
 p {
     margin: 0
 }     
 .container {
     margin: 20px auto
 }     
 .box {
     background-color: #f2ecff;
     padding: 30px;
     border-radius: 10px
 }     
 .row {
     background-color: #FFFF;
     border: 1px solid #ddd;
     border-radius: 10px
 }     
 .viewbox {
     margin-left: 0px;
     padding: 10px 20px
 }     
 .roxo {
     color: #5454D4;
     font-size: 30px;
     font-weight:500;
 }     
 .card {
     margin: 20px 0;
     padding: 20px 30px
 }     
 .mx1 {
     margin: 0 1px
 }
.p-green {
     background-color: #C0A3FF
 }     
 .progress {
     height: 12px;
     position: relative;
     overflow: visible
 }     
 .h-dash {
     font-size: 25px
 }     
 .textmuted {
     color: #7a7a7a;
     font-size: 14px
 }
 .hdash{
  font-weight: 500;
 }
 .box2 {
     background-color: white;
     border: 1px solid #ddd;
     border-radius: 10px;
     padding: 10px 20px
 }
 .pbox{
   color:#5454D4;
   font-weight: 500;
 }
 .total{
  font-weight: 500;
 }
 /* ICONS */
 .icon1 {
     font-size: 8px;
     position: absolute;
     background-color: #FFFF;
     width: 30px;
     height: 30px;
     border: 1px solid #ddd;
     border-radius: 50%;
     right: 0;
     top: -10px
 }
 
 .icon2 {
     font-size: 8px;
     position: absolute;
     background-color: #FFFF;
     width: 30px;
     height: 30px;
     border: 1px solid #ddd;
     border-radius: 50%;
     left: 50%;
     top: -10px
 }
 
 .bx.bx-gift {
     font-size: 14px;
     padding: 10px
 }
 
 .bx.bx-check {
     font-size: 14px;
     padding: 10px;
     color: #5454D4;
 }
 .bx.bx-book-heart {
  font-size: 34px;
  padding-right: 20px;
  color:#5454D4;
}
.bx.bx-trophy {
font-size: 34px;
padding-right: 20px;
color:#5454D4
}
.bx.bx-donate-heart {
font-size: 34px;
padding-right: 20px;
color:#5454D4;
}