<div class="container d-flex justify-content-center">
    <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"> <img src="assets/images/giftcard-netflix.png"> </a>
        <figcaption class="info-wrap">
            <div class="row">
                <div class="col-md-9 col-xs-9"> <a href="#" class="title" data-abc="true">Gift Card Netflix</a> <span class="rated"></span> </div>
                <div class="col-md-3 col-xs-3">
                    <div class="rating text-right"> </div>
                </div>
            </div>
        </figcaption>
        <div class="bottom-wrap-payment">
            <figcaption class="info-wrap">
                <div class="row">
                    <div class="col-md-9 col-xs-9"> <a href="#" class="title" data-abc="true">R$50</a> <span class="rated">Com o cartão pré-pago Netflix, não-assinantes podem começar a assistir aos melhores filmes
                        e séries em qualquer aparelho. Assinantes podem usá-lo para pagar sua mensalidade.</span> </div>
                    <div class="col-md-3 col-xs-3">
                        <div class="rating text-right"> 50 Pontos</div>
                    </div>
                </div>
            </figcaption>
        </div>
        <div class="produto-footer">
            <div class="bottom-wrap"> 
                <a href="#" class="btn btn-trocar float-right" data-abc="true"> Trocar Pontos </a>
            </div>
            <div class="price-wrap"> 
                <a routerLink="/safecommunity/recompensas" class="btn btn-warning float-left" data-abc="true"> Voltar </a> 
            </div>
        </div>
    </figure>
</div>