<h4>Ajudas</h4>
<hr>

<div class="input-group mb-3">
    <input type="text" class="form-control">
    <i class="input-group-text bx bx-search"></i>
</div>

<div id="app" class="container">
    <div  class="card">
      <div class="card-img">
        <img src="assets/exemplos/carona.jpg" alt="">
        <div class="circle"><img src="https://s.svgbox.net/files.svg?ic=sketch&fill=000" width="32" height="32"></div>
      </div>
      <div class="card-action">
        <div>
          <div class="title">Carona</div>
        <span>Preciso de ajuda para me levar até o centro</span>
        <span>01 Nov 2021</span>
        </div>
        <div class="btn-ajudar">
          <button class="btn">Ajudar</button>
        </div>      
      </div>
    </div>
    <div  class="card">
      <div class="card-img">
        <img src="assets/exemplos/pedreiro.jpg" alt="">
        <div class="circle"><img src="https://s.svgbox.net/files.svg?ic=sketch&fill=000" width="32" height="32"></div>
      </div>
      <div class="card-action">
        <div>
          <div class="title">Pedreiro</div>
        <span>Algum pedreiro disponivel para construir um muro em casa</span>
        <span>20 Out 2021</span>
        </div>
        <div class="btn-ajudar">
          <button class="btn">Ajudar</button>
        </div>      
      </div>
    </div>
    <div  class="card">
      <div class="card-img">
        <img src="assets/exemplos/doacao.jpg" alt="">
        <div class="circle"><img src="https://s.svgbox.net/files.svg?ic=sketch&fill=000" width="32" height="32"></div>
      </div>
      <div class="card-action">
        <div>
          <div class="title">Doação</div>
        <span>Necessito de uma doação de roupa de frio</span>
        <span>15 Jul 2021</span>
        </div>
        <div class="btn-ajudar">
          <button class="btn">Ajudar</button>
        </div>      
      </div>
    </div>
  </div>