<div class="container mt-5 mb-5 d-flex ">
    <div class="card-reward p-3">
        <div class="d-flex flex-row align-items-center justify-content-between text-white">
            <div class="d-flex flex-row align-items-center">
                <i class="bx bx-gift"></i><br>
                <span class="ml-2">Troque seus pontos por recompensas</span>
            </div>

        </div>
        <div class="mt-5 mb-5 d-flex align-items-center justify-content-center">
            <div class="circle"><i class="bx bx-coin-stack"></i></div>
        </div>
        <div class="mt-5 align-items-center d-flex justify-content-center">
            <small class="text-white">Calculando pontos...</small>
        </div>
        <div class="px-5"> <span class="button-pontos mt-3 d-block bg-white p-2">180 Pontos</span> </div>
    </div>
</div>

<h4 class="Labelh4"><i class="bx bx-movie-play"></i> Descontos em filmes e séries</h4>

<ul class="cards">
    <li>
        <a routerLink="/safecommunity/recompensas/produto" class="card">
            <!--telecine-->
            <img src="assets/images/imgtelecine.png" class="card__image" alt="" />
            <div class="card__overlay">
                <div class="card__header">
                    <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                        <path />
                    </svg>
                    <img class="card__thumb" src="assets/images/telecine.png" alt="" />
                    <div class="card__header-text">
                        <h3 class="card__title">Telecine</h3>
                        <span class="card__status">30 pontos</span>
                    </div>
                </div>
                <p class="card__description">Curta seu momento cinema com mais de 2000 filmes com o streaming do
                    Telecine
                </p>
            </div>
        </a>
    </li>
    <li>
        <!--netflix-->
        <a routerLink="/safecommunity/recompensas/produto" class="card">
            <img src="assets/images/giftcard-netflix.png" class="card__image" alt="" />
            <div class="card__overlay">
                <div class="card__header">
                    <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                        <path />
                    </svg>
                    <img class="card__thumb" src="assets/images/netflix.png" alt="" />
                    <div class="card__header-text">
                        <h3 class="card__title">Netflix</h3>
                        <span class="card__status">50 pontos</span>
                    </div>
                </div>
                <p class="card__description">Com o cartão pré-pago Netflix, não-assinantes podem começar a assistir aos
                    melhores filmes e séries em qualquer aparelho. Assinantes podem usá-lo para pagar sua mensalidade.
                </p>
            </div>
        </a>
    </li>

</ul>
<!--FIM Filmes e series-->

<!--label-->
<br>
<h4 class="Labelh4"><i class="bx bx-shopping-bag"></i>Cupons e descontos em Compras</h4>

<!-- COMPRAS -->
<ul class="cards">
    <li><a routerLink="/safecommunity/recompensas/produto" class="card">
            <!--natura-->
            <img src="assets/images/imgnatura.png" class="card__image" alt="" />
            <div class="card__overlay">
                <div class="card__header">
                    <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                        <path />
                    </svg>
                    <img class="card__thumb" src="assets/images/natura.png" alt="" />
                    <div class="card__header-text">
                        <h3 class="card__title">Natura</h3>
                        <span class="card__status">30 pontos</span>
                    </div>
                </div>
                <p class="card__description">Aproveite perfumes, maquiagem, produtos para o corpo, rosto e cabelo com
                    descontos exclusivos!</p>
            </div>
        </a>
    </li>
    <li>
        <!--reserva-->
        <a routerLink="/safecommunity/recompensas/produto" class="card">
            <img src="assets/images/imgreserva.png" class="card__image" alt="" />
            <div class="card__overlay">
                <div class="card__header">
                    <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                        <path />
                    </svg>
                    <img class="card__thumb" src="assets/images/reserva.png" alt="" />
                    <div class="card__header-text">
                        <h3 class="card__title">Reserva</h3>
                        <span class="card__status">10 pontos por Desconto</span>
                    </div>
                </div>
                <p class="card__description">Aproveite as peças clássicas com o máximo de conforto da Reserva.
                    Presenteie
                    quem você ama e aproveite suas compras.</p>
            </div>
        </a>
    </li>

</ul>