/* Banner Ajuda */
.peca__ajuda{
    background-color: var(--first-color);
    padding: 2rem;
    border-radius: 1.5rem;
  }
  .peca__ajudatitle, .peca__ajudadescricao{
    color: #fff;
  }
  /* Botão Preciso de ajuda */
  .btnAjuda{
    display: inline-block;
    background-color: #C0A3FF;
    color: #fff;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    font-weight: 700;
    transition: .3s;
  }
  
  .btnAjuda:hover{
    background-color: var(--first-color-light);
    color:#250074
  }
    /*========== H4 LABEL ==========*/
    .Labelh4{
      margin-left: 3rem;
      font-weight: 500;
      padding: -9px
    }
    /* MODAL PRECISO DE AJUDA*/