<!-- ======= PEÇA AJUDA ========== -->
<section class="pecaajuda section">
    <div class="peca__ajuda bd-container bd-grid">
        <div class="pecaajuda__conteudo">
            <h2 class="section-title-center peca__ajudatitle">Peça ajuda agora</h2>
            <p class="peca__ajudadescricao">Sabemos que a situação não é das melhores,
                mas nosso site está aqui <br>justamente para nos ajudarmos nesse momento tão complicado.</p>
            <br>
            <a href="#" class="btnAjuda">Preciso de ajuda</a>
        </div>
    </div>
</section><br>
<!-- Modal Ajuda -->

<!-- End Modal Ajuda -->

<!-- Text PEdidos-->
<h4 class="Labelh4"> Pedidos</h4>

<!-- Filtro de Categorias -->

<!-- Lista de Pedidos para receber Ajuda -->