.add-cursor-pointer{
    cursor: pointer;
}

nb-layout-header > span {
    padding-left: 10px;
}

.mr-3{
    margin-right: 10px;
}

.text-title{
    font-size: 18px;
    font-weight: 600;
}

.content-header{
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100%;

    .header-logo{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .header-user{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

.control-power {
    padding: 0.6rem;
    border: 1px solid white;
    margin: 0.25rem 0.8rem;
    cursor: pointer;

    &:hover{
        background: #934bff;
    }
}