<h4>Historico</h4>
<hr>

<div class="wallet">
    <div class="wallet-title">
        <div class="wallet-note">
            <i class='bx bx-history nav__icon"'></i><br>
            <span>Meu Histórico</span>
        </div>
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Pesquisar por...">
        <i class="input-group-text bx bx-search"></i>
    </div>

    <div class="table-responsive">
        <table class="table table-responsive table-borderless">
            <thead>
                <tr class="bg-light">
                    <th scope="col" width="5%"><input class="form-check-input" type="checkbox"></th>
                    <th scope="col" width="5%">ID</th>
                    <th scope="col" width="20%">Data</th>
                    <th scope="col" width="10%">Status</th>
                    <th scope="col" width="20%">Ajudei</th>
                    <th scope="col" width="20%">Categoria</th>
                    <th scope="col" class="text-end" width="20%"><span>Pontos</span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row"><input class="form-check-input" type="checkbox"></td>
                    <td>12</td>
                    <td>1 Oct, 21</td>
                    <td><i class='bx bxs-cdeck-circle green'></i>
                        <span class="ms-1">Completo</span>
                    </td>
                    <td><img src="https://i.imgur.com/VKOeFyS.png" width="25"> Althan Travis</td>
                    <td>Compras</td>
                    <td class="text-end"><span class="fw-bolder">$0.99</span>
                        <i class='bx bx-dots-horizontal-rounded'></i>
                    </td>
                </tr>
                <tr>
                    <td scope="row"><input class="form-check-input" type="checkbox"></td>
                    <td>14</td>
                    <td>12 Oct, 21</td>
                    <td><i class='bx bxs-error-circle text-danger'></i><span class="ms-1">Falhado</span></td>
                    <td><img src="https://i.imgur.com/nmnmfGv.png" width="25"> Tomo arvis</td>
                    <td>Compras</td>
                    <td class="text-end"><span class="fw-bolder">$0.19</span> <i
                            class='bx bx-dots-horizontal-rounded'></i></td>
                </tr>
                <tr>
                    <td scope="row"><input class="form-check-input" type="checkbox"></td>
                    <td>17</td>
                    <td>1 Nov, 21</td>
                    <td><i class='bx bxs-check-circle green'></i>
                        <span class="ms-1">Completo</span>
                    </td>
                    <td><img src="https://i.imgur.com/VKOeFyS.png" width="25"> Althan Travis</td>
                    <td>Compras</td>
                    <td class="text-end"><span class="fw-bolder">$1.99</span> <i
                            class='bx bx-dots-horizontal-rounded'></i></td>
                </tr>
                <tr>
                    <td scope="row"><input class="form-check-input" type="checkbox"></td>
                    <td>90</td>
                    <td>19 Oct, 21</td>
                    <td><i class='bx bxs-check-circle green'></i>
                        <span class="ms-1">Completo</span>
                    </td>
                    <td><img src="https://i.imgur.com/VKOeFyS.png" width="25"> Travis head</td>
                    <td>Estudos</td>
                    <td class="text-end"><span class="fw-bolder">$9.99</span> <i
                            class='bx bx-dots-horizontal-rounded'></i></td>
                </tr>
                <tr>
                    <td scope="row"><input class="form-check-input" type="checkbox"></td>
                    <td>12</td>
                    <td>1 Oct, 21</td>
                    <td><i class='bx bxs-check-circle green'></i>
                        <span class="ms-1">Completo</span>
                    </td>
                    <td><img src="https://i.imgur.com/nmnmfGv.png" width="25"> Althan Travis</td>
                    <td>Compras</td>
                    <td class="text-end"><span class="fw-bolder">$0.99</span> <i
                            class='bx bx-dots-horizontal-rounded'></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>