<h4>Rating</h4>
<hr>

<div class="wallet">
    <div class="wallet-title">
        <div class="wallet-note">
            <i class='bx bx-star nav__icon"'></i><br>
            <span>Rating</span>
        </div>
    </div>
    <header>
        <h1>Top 20 Melhores Ajudantes</h1>
    </header>
    <div class="wrapper">
        <table>
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Nome</th>
                    <th>Pontos</th>
                    <th>Total Ajudas</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="rank">1</td>
                    <td class="name">Yasmin</td>
                    <td class="points">1460</td>
                    <td class="up-down">30</td>
                </tr>
                <tr>
                    <td class="rank">2</td>
                    <td class="name">Maria Paula</td>
                    <td class="points">1340</td>
                    <td class="up-down">29</td>
                </tr>
                <tr>
                    <td class="rank">3</td>
                    <td class="name">Bruno</td>
                    <td class="points">1245</td>
                    <td class="up-down">27</td>
                </tr>
                <tr>
                    <td class="rank">4</td>
                    <td class="name">Luis</td>
                    <td class="points">1210</td>
                    <td class="up-down">25</td>
                </tr>
                <tr>
                    <td class="rank">5</td>
                    <td class="name">Isabelle</td>
                    <td class="points">1186</td>
                    <td class="up-down">25</td>
                </tr>
                <tr>
                    <td class="rank">6</td>
                    <td class="name">Davi</td>
                    <td class="points">1181</td>
                    <td class="up-down">24</td>
                </tr>
                <tr>
                    <td class="rank">7</td>
                    <td class="name">Viviane</td>
                    <td class="points">1178</td>
                    <td class="up-down">24</td>
                </tr>
                <tr>
                    <td class="rank">8</td>
                    <td class="name">>Max</td>
                    <td class="points">1161</td>
                    <td class="up-down">23</td>
                </tr>
                <tr>
                    <td class="rank">9</td>
                    <td class="name">Lucas</td>
                    <td class="points">1115</td>
                    <td class="up-down">20</td>
                </tr>
                <tr>
                    <td class="rank">10</td>
                    <td class="name">Bruno</td>
                    <td class="points">1082</td>
                    <td class="up-down">20</td>
                </tr>
                <tr>
                    <td class="rank">11</td>
                    <td class="name">Jacque</td>
                    <td class="points">1043</td>
                    <td class="up-down">19</td>
                </tr>
                <tr>
                    <td class="rank">12</td>
                    <td class="name">Marlene</td>
                    <td class="points">1039</td>
                    <td class="up-down">19</td>
                </tr>
                <tr>
                    <td class="rank">13</td>
                    <td class="name">Joao Pedro</td>
                    <td class="points">1037</td>
                    <td class="up-down">18</td>
                </tr>
                <tr>
                    <td class="rank">14</td>
                    <td class="name">Mariana</td>
                    <td class="points">1015</td>
                    <td class="up-down">18</td>
                </tr>
                <tr>
                    <td class="rank">15</td>
                    <td class="name">Henrique</td>
                    <td class="points">967</td>
                    <td class="up-down">16</td>
                </tr>
                <tr>
                    <td class="rank">16</td>
                    <td class="name">Paulo</td>
                    <td class="points">935</td>
                    <td class="up-down">16</td>
                </tr>
                <tr>
                    <td class="rank">17</td>
                    <td class="name">Isabella</td>
                    <td class="points">913</td>
                    <td class="up-down">15</td>
                </tr>
                <tr>
                    <td class="rank">18</td>
                    <td class="name">Cristina</td>
                    <td class="points">903</td>
                    <td class="up-down">14</td>
                </tr>
                <tr>
                    <td class="rank">19</td>
                    <td class="name">Vania</td>
                    <td class="points">877</td>
                    <td class="up-down">12</td>
                </tr>
                <tr>
                    <td class="rank">20</td>
                    <td class="name">Gabriella</td>
                    <td class="points">871</td>
                    <td class="up-down">10</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>