<h4>Ajudas - Pendentes</h4>
<hr>

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Pesquisar por...">
    <i class="input-group-text bx bx-search"></i>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-img">
                <img src="assets/exemplos/carona.jpg" alt="">
            </div>
            <div class="ajuda-concluido">
                <span class="icon-star">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star-half'></i>
                    <i class='bx bx-star'></i>
                </span>
                <span class="badge-finalizado">Finalizado</span>
            </div>
            <span></span>
            <div class="card-description">
                <div class="title">Carona</div>
                <span class="description">Preciso de ajuda para me levar até o centro</span>
                <span class="tag-date">01 Nov 2021</span>
            </div>
            <div class="btn-group-ajuda">
                <div class="btn-detalhes">
                    <button class="btn btn-padrao">Detalhes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-img">
                <img src="assets/exemplos/pedreiro.jpg" alt="">
            </div>
            <div class="ajuda-concluido">
                <span class="icon-star">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                </span>
                <span class="badge-finalizado">Finalizado</span>
            </div>
            <div class="card-description">
                <div class="title">Pedreiro</div>
                <span class="description">Algum pedreiro disponivel para construir um muro em casa</span>
                <span class="tag-date">20 Out 2021</span>
            </div>
            <div class="btn-group-ajuda">
                <div class="btn-detalhes">
                    <button class="btn btn-padrao">Detalhes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-img">
                <img src="assets/exemplos/doacao.jpg" alt="">
            </div>
            <div class="ajuda-concluido">
                <span class="icon-star">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                </span>
                <span class="badge-finalizado">Finalizado</span>
            </div>
            <div class="card-description">
                <div class="title">Doação</div>
                <span class="description">Necessito de uma doação de roupa de frio</span>
                <span class="tag-date">15 Jul 2021</span>
            </div>
            <div class="btn-group-ajuda">
                <div class="btn-detalhes">
                    <button class="btn btn-padrao">Detalhes</button>
                </div>
            </div>
        </div>
    </div>
</div>